
.buttonWrapper {
    margin: 0 auto;
    width: 135px;
    position: relative;
    overflow: hidden;
        
  }
  .buttonWrapper:hover .shine {
    transform: skewX(20deg) translateX(300px);
  }
  
  .blue {
    border: 0;
    padding: 10px 15px;
    margin-bottom: 10px;
    width: 180px;
    background: steelblue;
    color: white;
    font-size:0.75em;
    font-weight: bold;
    transition: background .3s linear;
    letter-spacing: 2px;
    border-radius: 50px;
   
  }

  .red {
    border: 0;
    padding: 10px 15px;
    margin-bottom: 10px;
    width: 180px;
    background: rgb(248, 4, 4);
    color: white;
    font-size: 0.75em;
    font-weight: bold;
    transition: background .3s linear;
    letter-spacing: 2px;
    border-radius: 50px;
    
  }
  
  .shine {
    position: absolute;
    top: 0;
    left: -40px;
    height: 40px;
    width: 20px;
    background: rgba(255, 255, 255, 0.4);
    transition: all .3s linear;
    transform: skewX(20deg) translateX(0);
  }
  